
# Tu dominio de Jira Cloud
# Ejemplo: burdilesricardo407-1770491380810.atlassian.net
JIRA_HOST=" aca pones tu dominio de jira"

# Tu email de Atlassian
# Ejemplo:Tu email de login
JIRA_EMAIL="aca pones tu email de jira"

# Tu API Token de Jira
# Generalo en: https://id.atlassian.com/manage-profile/security/api-tokens
JIRA_API_TOKEN="aca pones tu token de jira"